@font-face {
  font-family: 'Roboto Bold';
  src: url(../assets/fonts/Roboto-Bold.woff2) format('woff2'),
    url(../assets/fonts/Roboto-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../assets/fonts/Roboto-Regular.woff2) format('woff2'),
    url(../assets/fonts/Roboto-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../assets/fonts/Roboto-Light.woff2) format('woff2'),
    url(../assets/fonts/Roboto-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #1C1C1C;
  --font-color: #FFFFFF;
  --button-color: #52D2E4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
}

a {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}

p {
  color: var(--font-color);
}

.list-reset {
  list-style: none;
}

h1, h2, h3, a {
  color: var(--font-color);
}

.h2 {
  font-family: 'Roboto Bold';
  font-size: 3rem;
}

.h3 {
  font-family: 'Roboto Bold';
  font-size: 1.25rem;
}

.text {
  font-family: 'Roboto Light';
  font-size: 1.25rem;
  line-height: 110%;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: -1px auto 0;
  padding: 0 50px;
  background-color: var(--background-color);
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 82px;
}

.submenu__link:hover {
    color :var(--button-color);
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  gap:23px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone>a:hover {
  color: var(--button-color);
}

.sf {
  font-family: 'Roboto Regular';
  font-size: 1.5rem;
}

.h1 {
max-width: 470px;
width: 100%;
margin: 10px 0;
font-family: 'Roboto Bold';
font-size: 3.5rem;
}

.biggest__university {
  font-family: 'Roboto Regular';
font-size: 1.125rem;
}

.request-button {
font-size: 0.875rem;
color: var(--font-color);
background-color: var(--button-color);
margin-top: 49px;
margin-bottom: 50px;
padding: 13px 20px;
transition: 0.5s ease-in-out;
cursor: pointer;
}

.request-button:hover {
  transform: scale(1.05);
  background-color: transparent;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  }

.direction-of-preparation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

.direction-of-preparation>article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 210px;
    width: 100%;
    background-color: var(--font-color);
    border: 2px solid var(--button-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .direction-of-preparation>article:hover {
    background-color: transparent;

    .direction__title {
      color: var(--button-color);
    }
    .direction__text {
      color: var(--button-color);
    }
  }

.direction__title {
color: var(--background-color);
font-size: 1rem;
font-family: 'Roboto Bold';
  }

.direction__text {
  font-size: 1rem;
  color: var(--background-color);
  font-family: 'Roboto Regular';
  }

.passing-score__container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 120px;
}

.passing-score__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  border: 2px solid var(--button-color);
  border-radius: 20px;
  background-color: var(--font-color);
  }

  .passing-score {
    color: var(--background-color);
    font-family: 'Roboto Bold';
    font-size: 2.5rem;
  }

  .passing-text {
color:var(--background-color);
font-family: 'Roboto Bold';
font-size: 1rem;
  }

@media (max-width: 729.98px) {
  .container {
    padding: 0 20px;
  }

  .nav {
    display: none;
  }

  .passing-score__container {
    gap: 20px;
    }
}

@media (max-width: 499.98px) {
  .header__row {
    padding-bottom: 40px;
  }

  .h1 {
    font-size: 3rem;
  }
}

@media (max-width: 399.98px) {
  .h1 {
    font-size: 2rem;
  }
}
